body{
  background-color: green;
}

button{
  color: #000;
}

.btn{
  color : red;
  font-size: 1.5rem;
  font-family: cursive;
}


a{
  color: grey;
  font-size: 2rem;
  margin-right: 10px;
}

a:hover{
  color: pink;
}
